* {
   margin: 0;
   padding: 0;
}
#wrapper {
   width: 950px;
   margin: 0 auto;   
}
header {
   width: 950px;
}
#nav {  
   clear: both;  
   margin: 0 auto;  
   padding: 0;  
} 
#nav li{  
   float: left;  
   width: 190px;  
   list-style: none;  
} 
#nav a {  
   display: block;  
   padding-top: 16px;  
   padding-bottom: 16px;  
   text-align: center;  
   font-size: 16px;  
   font-weight: bold;  
   background-color: #003333;  
   color: #f0f0f0;  
   text-decoration: none;  
} 
#nav a:hover {  
   background-color: #005533;  
   color: #f0f0f0;  
}
#nav_sub {  
   clear: both;  
   margin: 0 auto;  
   padding: 0;  
} 
#nav_sub li{    
   width: 190px;  
   list-style: none;
   padding-bottom:2px;  
} 
#nav_sub a {  
   display: block;  
   padding-top: 16px;  
   padding-bottom: 16px;  
   text-align: center;  
   color:black;
   font-size: 16px;  
   font-weight: bold;
   border-left:solid 15px #003333;  
   text-decoration:none;
   background-image:url(./img/a.jpg);
} 
#nav_sub a:hover {
   border-left:solid 15px  red;    
   text-decoration:none;
   }
 
#main {
   width: 950px;     
}
#nav_s {
   float: left;
   width: 190px;     
}
#contents {
   float: right;
   width: 750px;     
   }
#menu{
	float:left;
	padding-left:10px;
	padding-bottom:15px;
    padding-top:25px;
    margin: 0 auto;   
	width:200;
	}
footer {
   clear: both;      
   width: 950px;
   text-align: center;
}
#menu ul {
   list-style: none;
}
table {
	margin: auto;
	padding: auto;
}
td {
	text-align: center;
}
h1 {
	text-align: center;
}
.link_top {
	text-align: right;
}
h4 {
	text-align: center;
}
h3 {
	text-align:center;
}
#volunteer{
	text-align:center;
}
img { 
	border-style:none; 
} 

a img {
	border-style:none; 
} 
#center{
	text-align:center;
}
